/* Import Tailwind using a comment to avoid VSCode errors */
@import "tailwindcss";

/* Add a special comment to tell VSCode this is valid CSS */
/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html, body {
  height: 100%;
  overflow: hidden;
}